<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
         <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Principio de comprender a las personas</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#principio" class="nav__link">Principio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#entendimiento" class="nav__link">Entendimiento</a>
                        </li>
                        <li class="nav__item">
                            <a href="#valores" class="nav__link">Valores</a>
                        </li>
                        <li class="nav__item">
                            <a href="#atencion" class="nav__link">Antención</a>
                        </li>
                        <li class="nav__item">
                            <a href="#empatia" class="nav__link">Empatía</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Modo Oscuro</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="https://images.pexels.com/photos/7731322/pexels-photo-7731322.jpeg?cs=srgb&dl=pexels-mikhail-nilov-7731322.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Ética</span>
                        <h1 class="home__data-title">Principio <br> De <b>Comprender a las personas</h1>
                    </div>
                </div>
            </section>

            <!--==================== COMUNICACION ====================-->
            <section class="about section" id="principio">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Comprender a las personas<br> Definicion</h2>
                        <p class="about__description">La REA define como conflicto como combate, lucha, pelea,  y, finalmente, como problema, cuestión, materia de discusión.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"La vida es le acuerdo al que llegamos, entre lo que el ego desea hacer, lo que la experiencia nos dice que hagamos
                            y lo que los impulsos nos permiten hacer.""
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"Ponte de acuerdo con tu adversario pronto, mientras estás con él en le camino, no sea que te entrega
                            al juez y éste al guardia y seas echado a la cárcel."<br>
                            mateo 5:25
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/9489091/pexels-photo-9489091.jpeg?cs=srgb&dl=pexels-monstera-9489091.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3182829/pexels-photo-3182829.jpeg?cs=srgb&dl=pexels-fauxels-3182829.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Video Comprender a las Personas</h2>

                <div class="video__container container">
                    <div class="video__content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/0JfoyNrNMBE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    </div>
                </div>
            </section>

            <!--==================== ENTENDIMIENTO ====================-->
            <section class="about section" id="entendimiento">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6382698/pexels-photo-6382698.jpeg?cs=srgb&dl=pexels-liza-summer-6382698.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6147278/pexels-photo-6147278.jpeg?cs=srgb&dl=pexels-keira-burton-6147278.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Entendimiento<br> Definicion</h2>
                        <p class="about__description">Potencia del alma, en virtud de la cual concibe las cosas, las compara, las juzga, e induce y deduce otras de las que ya conoce..
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Muchas personas cerrarán sus oídos ante el consejo, pero la mayoría abrirá sus ojos al ejemplo."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"Puesto que el señor otorga sabiduría, cada una de sus palabras es un tesoro
                            de conocimientos y compresión."<br>
                            Proverbios 6:31
                        </p>
                    </div> 
                </div>
            </section>
            <!--==================== VALORES====================-->
            <section class="about section" id="valores">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Valores<br> Definicion</h2>
                        <p class="about__description">Es aquella que posse o a quien se le atribuye cualidades positivas para desarrollar una determinada actividad.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"El comportamiento es un espejo en el que cada uno muestra su imagen."<span>Johann Wolgang von Goethe</span><br>
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">"Necio el el hombre que dice para sí:'No hay Dios'."<br>
                            Salmo 14:1
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/9962633/pexels-photo-9962633.jpeg?cs=srgb&dl=pexels-arkhod-9962633.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6114381/pexels-photo-6114381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== ATENCION ====================-->
            <section class="about section" id="atencion">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6114381/pexels-photo-6114381.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5905923/pexels-photo-5905923.jpeg?cs=srgb&dl=pexels-katerina-holmes-5905923.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Atencion<br> Definicion</h2>
                        <p class="about__description">El termino atención significa:"Cortesía, urbanidad,demostración de respeto u obsequio".
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Así como hay un arte del buen decir, existe el arte del buen escuchar."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"...todo hhombre debe oír mucho, hablar poco y enojarse menos."<br>
                            santiago 1:19
                        </p>
                    </div>
                </div>
            </section>
            <!--==================== EMPATIA ====================-->
            <section class="about section" id="empatia">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Empatia<br> Definicion</h2>
                        <p class="about__description">La identificación mental y efectiva de un sujeto con el estado del animo de otro.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"La capacidad de colocarse en el lugar del otro es una de las funciones mas importantes de la inteligencia. Demuestra el grado de madurez del ser humano."<br>
                            "Trata de comprender antes de ser comprendido"<br>
                            "La empatia requiere tiempo; la eficiencia es para las cosas, no para las personas."
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">"El amigo verdadero es siempre leal,y el hermano es para que nos ayude en tiempos de necesidad."<br>
                            Provervios 17:17
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6383157/pexels-photo-6383157.jpeg?cs=srgb&dl=pexels-liza-summer-6383157.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7188532/pexels-photo-7188532.jpeg?cs=srgb&dl=pexels-eren-li-7188532.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
        </main>
<!--==================== FOOTER ====================-->
<footer class="footer section">
    <div class="footer__container container grid">
        <div class="footer__content grid">
            <div class="footer__data">
                <h3 class="footer__title">Blog - Principios Éticos</h3>
                <p class="footer__description">Autores: <br> 
                    Elias Julajuj  <br>
                    Gilda Chiroy   <br>
                    Kevin Pilo     <br>
                    Walfred Cuxulic<br> 
                </p>
                
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Principios</h3>
                <ul>
                    <li class="footer__item">
                        <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                    </li>
                    <li class="footer__item">
                        <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                    </li>
                    <li class="footer__item">
                        <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Principios</h3>
                <ul>
                    <li class="footer__item">
                        <a href="./justicia.html" class="footer__link">La Justicia</a>
                    </li>
                    <li class="footer__item">
                        <a href="" class="footer__link">La Crítica</a>
                    </li>
                    <li class="footer__item">
                        <a href="./perdon.html" class="footer__link">El Perdón</a>
                    </li>
                </ul>
            </div>

            <div class="footer__data">
                <h3 class="footer__subtitle">Principios</h3>
                <ul>
                    <li class="footer__item">
                        <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                    </li>
                    <li class="footer__item">
                        <a href="./integridad.html" class="footer__link">Integridad</a>
                    </li>
                    <li class="footer__item">
                        <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer__rights">
            <div class="footer__terms">
                <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
            </div>
        </div>
    </div>
</footer>


         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>