<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
         <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Principio de comunicación</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#comunicacion" class="nav__link">principio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#consideracion" class="nav__link">Consideracion</a>
                        </li>
                        <li class="nav__item">
                            <a href="#relacion" class="nav__link">Relacion</a>
                        </li>
                        <li class="nav__item">
                            <a href="#influencia" class="nav__link">Influencia</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Modo Oscuro</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="https://images.pexels.com/photos/3184325/pexels-photo-3184325.jpeg?cs=srgb&dl=pexels-fauxels-3184325.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Ética</span>
                        <h1 class="home__data-title">Principio <br> De <b>Comunicacion</h1>
                    </div>
                </div>
            </section>

            <!--==================== COMUNICACION ====================-->
            <section class="about section" id="comunicacion">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Comunicacion <br> Definicion</h2>
                        <p class="about__description">Petición del parecer por parte de la persona que habla a aquella o aquellas a quienes se dirige, amigas o contrarias, 
                            manifestándose convencida de que no puede ser distinto del suyo propio.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"La buena comunicación nace de una escucha activa."<br>
                            "Es falso pensar que uno puede comunicarse solo porque puede hablar."<br>
                            "En comunicación rige la maxima de mnos es más."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"...El que tiene oídos para oír, que escuche."<br>
                            lucas 8:8
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?cs=srgb&dl=pexels-fauxels-3184423.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3182829/pexels-photo-3182829.jpeg?cs=srgb&dl=pexels-fauxels-3182829.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Video Principio de Comunicación</h2>

                <div class="video__container container">
                    <div class="video__content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/sqbwIxkTxwA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    </div>
                </div>
            </section>

            <!--==================== CONSIDERACION ====================-->
            <section class="about section" id="consideracion">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/9584932/pexels-photo-9584932.jpeg?cs=srgb&dl=pexels-ron-lach-9584932.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5710661/pexels-photo-5710661.jpeg?cs=srgb&dl=pexels-arina-krasnikova-5710661.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Consideracion<br> Definicion</h2>
                        <p class="about__description">Aplicarla particular y determinadamente a algún asunto.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"La discusion amistosa es tan estimulante como las chipas
                            que saltan cuando se golpea hierro contra hierro."<br>
                            "Las sugerencias amistosas son tan agradables com el perfume."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"...Trata a los demas como deseas que te traten a ti."<br>
                            lucas 6:31
                        </p>
                    </div> 
                </div>
            </section>
            <!--==================== RELACION ====================-->
            <section class="about section" id="relacion">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Relacion<br> Definicion</h2>
                        <p class="about__description">Exposición que se hace de un hecho.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Discutir con un tonto solo comprueba que hay dos discutiendo."<span>Doris M. Smith</span><br>
                            "A partir de hoy trata a toos como si fuera su último dia. Dales atención, amabilidad y entendimiento; tu vida nuca será la misma."
                            <span>Og Mandino</span>
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">"...La respuesta suave aparta el enojo..."<br>
                            proverbios 15:1
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3184423/pexels-photo-3184423.jpeg?cs=srgb&dl=pexels-fauxels-3184423.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3182829/pexels-photo-3182829.jpeg?cs=srgb&dl=pexels-fauxels-3182829.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== INFLUENCIA ====================-->
            <section class="about section" id="influencia">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7676408/pexels-photo-7676408.jpeg?cs=srgb&dl=pexels-ivan-samkov-7676408.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4549409/pexels-photo-4549409.jpeg?cs=srgb&dl=pexels-plann-4549409.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Influencia<br> Definicion</h2>
                        <p class="about__description">Poder, valimiento, autoridad de alguien para con otra u otras personas o para intervenir en un negocio.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Cualquier persona que haya ejercido una profunda inflencia en otras personas,en instituciones
                            o en la sociedad,Cualquier padre que haya tenido una influencia intergeracional, quienquiera que verdaderamente haya tenido una influencia
                            quienquiera verdaderamente haya hecho un cambio para bien o para mal,todos ha tenido en común tres atributos: vision,disciplina
                            y pasión. Yo diría que estos tres atributos han gobernando el mundo desde el principio. Representan el liderazgo eficaz."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"...mejor es dominarse a sí mismo que mandar un ejército."<br>
                            proverbios 6:31
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./justicia.html" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="./integridad.html" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>

         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>