<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
         <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Principio de Critica</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#principio" class="nav__link">Principio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#entendimiento" class="nav__link">Juicios </a>
                        </li>
                        <li class="nav__item">
                            <a href="#valores" class="nav__link">Superación</a>
                        </li>
                        <li class="nav__item">
                            <a href="#atencion" class="nav__link">Beneficios </a>
                        </li>
                        <li class="nav__item">
                            <a href="#empatia" class="nav__link">Validez</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Dark mode</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="https://images.pexels.com/photos/8458846/pexels-photo-8458846.jpeg?cs=srgb&dl=pexels-mart-production-8458846.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Ética</span>
                        <h1 class="home__data-title">Principio <br> De <b>Crítica</h1>
                    </div>
                </div>
            </section>

            <!--==================== CRITICA ====================-->
            <section class="about section" id="principio">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Crítica<br> Definicion</h2>
                        <p class="about__description">La crítica se define como todo aquel discernimiento que solemos realizar, 
                            cuya intención es emitir una opinión  que sirva para construir un crecimiento personal y lograr un 
                            cambio favorable que beneficia a la persona hacia quien está dirigida.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">“si las palabras no son mejores que el silencio, es mejor callar.”
                            “el hombre de talento es naturalmente inclinado a la crítica, porque ve más cosas que los
                             otros hombres y las ve mejor.”
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">“A todos les gusta buen consejo. ¡Qué admirable es saber decir la palabra adecuada en el momento oportuno ¡”<br>
                            Sabiduría 9.21 proverbios 15:23
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5699866/pexels-photo-5699866.jpeg?cs=srgb&dl=pexels-alex-green-5699866.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6382707/pexels-photo-6382707.jpeg?cs=srgb&dl=pexels-liza-summer-6382707.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Video de cómo hacer una crítica</h2>

                <div class="video__container container">
                    <div class="video__content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/8sknNVwX1vg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!--==================== JUICIO ====================-->
            <section class="about section" id="entendimiento">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5669619/pexels-photo-5669619.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5669619.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5668475/pexels-photo-5668475.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5668475.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Juicio<br> Definicion</h2>
                        <p class="about__description">Decir que la crítica es mala es afirmar que no podemos corregir lo incorrecto y eso no cabe en el sentido común.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">“si quieres saber cómo vivir la vida cristiana, le debes preguntar a un pecador, pues él puede ofrecerte algunas buenas observaciones.”
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">“Si aprovechas la crítica constructiva alcanzaras un puesto entre los hombres famosos."<br>
                            Proverbios 15:31
                        </p>
                    </div> 
                </div>
            </section>
            <!--==================== SUPERACION  ====================-->
            <section class="about section" id="valores">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Superación<br> Definicion</h2>
                        <p class="about__description">Como todas las relaciones difieren en el grado de sumisión o credibilidad, entre mayor sea esta, el proceso 
                            puede ser más directo. Una relación más delicada necesitara mayor cuidado y tacto al emitir la crítica, al fin de que lleve fruto. 
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">“las mejores cosas y a las más hermosas en el mundo no se puede ver, tampoco tocar. Deben sentirse con el corazón.”
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">“Que con urgencia prediques la palabra de Dios; que lo hagas a tiempo, cuando convenga y cuando no convenga. 
                            Convence, conseja, aprende si es necesario, insta a hacer el bien, en todo tiempo, con paciencia.” <br>
                            2 Timoteo 4:2  
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7688160/pexels-photo-7688160.jpeg?cs=srgb&dl=pexels-kindel-media-7688160.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3182754/pexels-photo-3182754.jpeg?cs=srgb&dl=pexels-fauxels-3182754.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== BENEFICIOS ====================-->
            <section class="about section" id="atencion">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/3810793/pexels-photo-3810793.jpeg?cs=srgb&dl=pexels-rfstudio-3810793.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7430335/pexels-photo-7430335.jpeg?cs=srgb&dl=pexels-cottonbro-7430335.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Beneficios <br> Definicion</h2>
                        <p class="about__description">Enfocarnos en el asunto no en la persona, asegurarnos de que nos interesa, principalmente, el futuro de otras personas.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">“las críticas no serán agradables, pero son necesarias.”
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">“Es más difícil recobrar la amistad del hermano ofendido, que tomar una ciudad fortificada. Su ira te rechaza como barrotes de hierro.”<br>
                            Proverbios 19:19  
                        </p>
                    </div>
                </div>
            </section>
            <!--==================== VALIDEZ ====================-->
            <section class="about section" id="empatia">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Validez <br> Definicion</h2>
                        <p class="about__description">Ahora estudiémosla desde el punto de vista de quien lo recibe, no como si alguien recibirá 
                            nuestra critica si no como nosotros mismos nos prepararemos para beneficiarlos de la crítica que viene en nuestro encuentro.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">“Lamentablemente, nuestra critica consiste en reprochar a los demás en no tener las cualidades que nosotros creemos tener.” 
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">“Si rechazar la crítica re perjudicas y dañas tus propios intereses.”<br>
                            Proverbios 15:32 
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6797068/pexels-photo-6797068.jpeg?cs=srgb&dl=pexels-evelina-zhu-6797068.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4406129/pexels-photo-4406129.jpeg?cs=srgb&dl=pexels-marcelo-chagas-4406129.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./justicia.html" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="./integridad.html" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>

         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>