<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Empoderamiento</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#empoderamiento" class="nav__link">Empoderamiento</a>
                        </li>
                        <li class="nav__item">
                            <a href="#conviccion" class="nav__link">Convicción</a>
                        </li>
                        <li class="nav__item">
                            <a href="#autoridad" class="nav__link">Autoridad</a>
                        </li>
                        <li class="nav__item">
                            <a href="#delegacion" class="nav__link">Delegación</a>
                        </li>
                        <li class="nav__item">
                            <a href="#cumplimiento" class="nav__link">Cumplimiento</a>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Dark mode</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== empoderamiento PRINCIPAL ====================-->
            <section class="about section" id="empoderamiento">
                <img src="https://images.pexels.com/photos/8447782/pexels-photo-8447782.jpeg?cs=srgb&dl=pexels-los-muertos-crew-8447782.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        
                        <h1 class="home__data-title">Principio de<b><br>Empoderamiento</b></h1>
                         
                    </div>                  
                </div>
            </section> 

            <!--==================== empoderamiento__definicion ====================-->
            <section class="about section">
                <div class="about__container container grid">
                    <div class="about__data">
                        
                        <h1 class=""> Definición<br> Real academía española</h1>
                        <p class="about__description"> Hacer poderoso o fuerte a un individuo o grupo social desfavorecido.
                        </p>
                        
                        <h1 class="">Texto biblico </h1>
                        <p class="about__description"> "mateo 25:29-30" Porque a cualquiera que tuviere, le será dado, y tendrá más; 
                                                   y al que no tuviere, aun lo que tiene le será quitado....
                        </p> 

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description"> El empoderamiento lleva a la valoración y el reconocimiento, permitiéndoles tomar
                                                       el control de sus vidas. 

                    </div>

                

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/8533208/pexels-photo-8533208.jpeg?cs=srgb&dl=pexels-koolshooters-8533208.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/8447858/pexels-photo-8447858.jpeg?cs=srgb&dl=pexels-los-muertos-crew-8447858.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="video section">
                <h2 class="section__title">Tener empoderamiento</h2>

                <div class="">

                    <div>
                        <video id="video-file">
                            
                        </video> 
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/vdXAVr87lY0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <button class="" id="video-button">
                            
                        </button>
                        
                    </div>
                </div>
            </section>

          <!--==================== conviccion ====================-->
          
          <section class="about section" id="conviccion">

          <div class="about__container container grid">
          <div class="about__data">
            <h1 class=""> Convicción</h1>
            <p class="about__description">Idea religiosa, ética o política a la que se está fuertemente adherido.
            </p>
                        
                        <h1 class="">Texto biblico</h1>
                        <p class="about__description"> "Hebreos 11:1" Fe es la certeza de lo que se espera, la convicción de lo que no se ve.
                        </p>

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description"> La convicción nos puede convertir en una maquinaría imparable, dispuesta a ganar 
                                                      o perder con tal de mantener nuestra posición.
                        </p>

            
           </div>

          <div class="about__img">
            <div class="about__img-overlay">
                <img src="https://images.pexels.com/photos/5593717/pexels-photo-5593717.jpeg?cs=srgb&dl=pexels-rodnae-productions-5593717.jpg&fm=jpg" alt="" class="about__img-one">
            </div>

            <div class="about__img-overlay">
                <img src="https://images.pexels.com/photos/3806690/pexels-photo-3806690.jpeg?cs=srgb&dl=pexels-olenka-sergienko-3806690.jpg&fm=jpg" alt="" class="about__img-two">
            </div>
             </div>
              </div>
         </section>
   
            <!--==================== Autoridad====================-->
            <section class="about section" id="autoridad">
                <div class="about__container container grid">
                    

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6077189/pexels-photo-6077189.jpeg?cs=srgb&dl=pexels-ekaterina-bolovtsova-6077189.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7714739/pexels-photo-7714739.jpeg?cs=srgb&dl=pexels-kindel-media-7714739.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    
                    <div class="about__data">
                       
                        <h1 class="">Autoridad</h1>
                      <p class="about__description"> Poder que gobierna o ejerce el mando, de hecho o de derecho.
                     </p>
                        
                        <h1 class="">Texto biblico</h1>
                        <p class="about__description"> "Romanos 13:1,2" Obedece a la autoridad porque Dios es el que les ha otorgado el cargo.
                                                       No hay ningún gobierno en la tierra que Dios no haya permitido llegar al poder. 
                        </p>

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description">Por principio, Dios es la máxima autoridad y se relaciona con lo visible y lo invisible.
                        </p>
                        
                    </div>


                </div>
            </section>
            
            <!--==================== Delegación ====================-->
            <section class="about section" id="delegacion">
                 <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="">Delegación</h2>
                        <p class="about__description">  Dicho de una persona: Dar la jurisdicción que tiene por su dignidad 
                                               u oficio a otra, para que haga sus veces o para conferirle su representación.
                        </p>

                        <h2 class="">Texto biblico</h2>
                        <p class="about__description"> "Exodo 18:25" Y escogió Moisés hombres capaces de entre todo Israel, 
                                         y los puso por cabezas del pueblo, como jefes de mil, de cien, de cincuenta y de diez.
                        </p>

                        <h2 class="">Para reflexionar</h2>
                        <p class="about__description">Ser eficaces en la delegación requiere que ambas partes 
                                                     conozcan lo que se espera de ellas.
                        </p>
                        
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4342493/pexels-photo-4342493.jpeg?cs=srgb&dl=pexels-edmond-dant%C3%A8s-4342493.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5673477/pexels-photo-5673477.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5673477.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>




            <!--==================== Cumplimiento ====================-->
            <section class="about section" id="cumplimiento">
                <div class="about__container container grid">

                   <div class="about__img">
                       <div class="about__img-overlay">
                           <img src="https://images.pexels.com/photos/7475712/pexels-photo-7475712.jpeg?cs=srgb&dl=pexels-mikhail-nilov-7475712.jpg&fm=jpg" alt="" class="about__img-one">
                       </div>

                       <div class="about__img-overlay">
                           <img src="https://images.pexels.com/photos/1917944/pexels-photo-1917944.jpeg?cs=srgb&dl=pexels-black-bird-1917944.jpg&fm=jpg" alt="" class="about__img-two">
                       </div>
                   </div>

                   <div class="about__data">
                    <h2> Cumplimiento </h2>
                    <p class="about__description">Llevar a efecto algo. Cumplir un deber, una orden, un encargo, un deseo, una promesa.
                    </p>

                    <h2 >Texto biblico</h2>
                    <p class="about__description">"Mateo 25:20" Y llegando el que había recibido cinco talentos, trajo otros
                                                  cinco talents, diciendo: señor, cinco talentos me entregaste; aquí tienes, 
                                                  he ganado otros cinco talentos sobre ellos. 
                    </p>

                    <h2>Para reflexionar</h2>
                    <p class="about__description">El cumplimiento conlleva la responsabilidad y el compromiso de realizar acciones eficientes
                                                 para la obtención de resultados esperados y con disposición de asumir las consecuencias: 
                                                 positivas o negativas.
                    </p>
                    
                     </div>

               </div>
           </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./justicia.html" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="./integridad.html" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>


        <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

         <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>