<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css">

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Integridad</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#integridad" class="nav__link">Integridad</a>
                        </li>
                        <li class="nav__item">
                            <a href="#honradez" class="nav__link">Honradez</a>
                        </li>
                        <li class="nav__item">
                            <a href="#honestidad" class="nav__link">Honestidad</a>
                        </li>
                        <li class="nav__item">
                            <a href="#humildad" class="nav__link">Humildad<a href=""></a></a>
                        </li>
                        <li class="nav__item">
                         <a href="#sensatez" class="nav__link">Sensatez<a href=""></a></a>
                        
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Dark mode</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== integridad PRINCIPAL ====================-->
            <section class="about section" id="integridad">
                <img src="https://images.pexels.com/photos/3865557/pexels-photo-3865557.jpeg?cs=srgb&dl=pexels-andrea-piacquadio-3865557.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        
                        <h1 class="home__data-title">Principio de<b><br>Integridad</b></h1>
                         
                    </div>                  
                </div>
            </section> 

            <!--==================== integridad__definicion ====================-->
            <section class="about section">
                <div class="about__container container grid">
                    <div class="about__data">
                        
                        <h1 class=""> Definición<br> Real academía española</h1>
                        <p class="about__description"> Dicho de una persona: Recta, proba, intachable.
                        </p>
                        
                        <h1 class="">Texto biblico </h1>
                        <p class="about__description"> "proverbios 10:9" El que camina en integridad anda confiado; 
                                                         mas el que pervierte sus caminos será quebrantado.
                        </p>

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description">La palabra dicha por una persona íntegra se convierte en 
                                                      un "pacto"; no puede faltar a su palabra porque, dejaría de ser íntegro.
                        </p>

                    </div>

                

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4260314/pexels-photo-4260314.jpeg?cs=srgb&dl=pexels-august-de-richelieu-4260314.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7512836/pexels-photo-7512836.jpeg?cs=srgb&dl=pexels-shvets-production-7512836.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="video section">
                <h2 class="section__title">Tener integridad</h2>

                <div class="">

                    <div>
                        <video id="video-file">
                            
                        </video> 
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OxshDCrXQyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                        <button class="" id="video-button">
                            
                        </button>
                        
                    </div>
                </div>
            </section>

          <!--==================== honradez ====================-->
          
          <section class="about section" id="honradez">

          <div class="about__container container grid">
          <div class="about__data">
            <h1 class=""> Honradez</h1>
            <p class="about__description">Rectitud de ánimo, integridad en el obrar.
            </p>
                        
                        <h1 class="">Texto biblico</h1>
                        <p class="about__description"> "Proverbios 19:11 - Sabiduría 7:4" Es mejor ser pobre y honrado que rico y perverso.
                        </p>

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description"> Todo aquel que quiere ser honrado pasará por un sinnúmero de pruebas,
                            como el oro, que para sacarle las impurezas y dejarlo puro y macizo, debe de ser calentdo muchas veces.
                        </p>

            
           </div>

          <div class="about__img">
            <div class="about__img-overlay">
                <img src="https://images.pexels.com/photos/9433156/pexels-photo-9433156.jpeg?cs=srgb&dl=pexels-monstera-9433156.jpg&fm=jpg" alt="" class="about__img-one">
            </div>

            <div class="about__img-overlay">
                <img src="https://images.pexels.com/photos/7729136/pexels-photo-7729136.jpeg?cs=srgb&dl=pexels-greta-hoffman-7729136.jpg&fm=jpg" alt="" class="about__img-two">
            </div>
             </div>
              </div>
         </section>
   
            <!--==================== Honestidad ====================-->
            <section class="about section" id="honestidad">
                <div class="about__container container grid">
                    

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7781900/pexels-photo-7781900.jpeg?cs=srgb&dl=pexels-taha-samet-arslan-7781900.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7158702/pexels-photo-7158702.jpeg?cs=srgb&dl=pexels-rodnae-productions-7158702.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    
                    <div class="about__data">
                       
                        <h1 class="">Honestidad</h1>
                      <p class="about__description">Correspondiente, conforme al estado o calidad de la persona.
                     </p>
                        
                        <h1 class="">Texto biblico</h1>
                        <p class="about__description"> "Proverbios 16:11" El señor exige honestidad en todas las cosas. Él
                                                       estableció este principio.
                        </p>

                        <h1 class=""> Para reflexionar</h1>
                        <p class="about__description">Para aplicar este valor a nuestras vidas, debemos conocernos a nosotros
                                                    mismos.
                        </p>
                        
                    </div>


                </div>
            </section>
            
            <!--==================== humildad ====================-->
            <section class="about section" id="humildad">
                 <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="">Humildad</h2>
                        <p class="about__description"> Virtud que consiste en el conocimiento de las propias limitaciones y debilidades y en obrar de acuerdo con este conocimiento.
                        </p>

                        <h2 class="">Texto biblico</h2>
                        <p class="about__description"> "1ra. Pedro 5:5" Revestíos de humildad hacia los demás porque
                                                    Dios resiste a los soberbios y da gracia a los humildes.
                        </p>

                        <h2 class="">Para reflexionar</h2>
                        <p class="about__description">La humildad nos hace ver como somos realmente, no como queremos ser,
                                             no nos sintamos superiores a los demás.
                        </p>
                        
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7728077/pexels-photo-7728077.jpeg?cs=srgb&dl=pexels-greta-hoffman-7728077.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/7157564/pexels-photo-7157564.jpeg?cs=srgb&dl=pexels-rodnae-productions-7157564.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>




            <!--==================== sensatez ====================-->
            <section class="about section" id="sensatez">
                <div class="about__container container grid">

                   <div class="about__img">
                       <div class="about__img-overlay">
                           <img src="https://images.pexels.com/photos/6599602/pexels-photo-6599602.jpeg?cs=srgb&dl=pexels-tima-miroshnichenko-6599602.jpg&fm=jpg" alt="" class="about__img-one">
                       </div>

                       <div class="about__img-overlay">
                           <img src="https://images.pexels.com/photos/5538617/pexels-photo-5538617.jpeg?cs=srgb&dl=pexels-zen-chung-5538617.jpg&fm=jpg" alt="" class="about__img-two">
                       </div>
                   </div>

                   <div class="about__data">
                    <h2> Sensatez </h2>
                    <p class="about__description">Prudente, cuerdo, de buen juicio.
                    </p>

                    <h2 >Texto biblico</h2>
                    <p class="about__description">"Proverbios 12:5" Los pensamientos de los justos son rectitud;
                                                  mas los consejos de los impíos, engaño.
                    </p>

                    <h2>Para reflexionar</h2>
                    <p class="about__description">La objetividad de una teoría de la justicia puede descansar en 
                                                  la sensatez.
                    </p>
                    
                     </div>

               </div>
           </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./justicia.html" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="./critica.html" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="#" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>
         <!--========== SCROLL UP ==========-->
         <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

         <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>