<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Justicia-principio</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#principio" class="nav__link">principio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#justicia" class="nav__link">Justicia</a>
                        </li>
                        <li class="nav__item">
                            <a href="#impar" class="nav__link">Imparcialidad y Equidad</a>
                        </li>
                        <li class="nav__item">
                            <a href="#verdad" class="nav__link">Verdad y Respeto</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">modo oscuro</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="principio">
                <img src="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?cs=srgb&dl=pexels-sora-shimazaki-5668473.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">"Jueces y oficiales pondras en todas tus ciudades<br>
                            que Jehová tu Dios te dara en tus tribus, los cuales<br>
                            juzgarán al pueblo con justo juicio"<br>
                            Deuteronomio 16:18<br>
                        </span>
                        <h1 class="home__data-title">JUSTICIA</h1>
                        <div class="home__info">
                            <div class="home__info-overlay">
                                <img src="https://conceptodefinicion.de/wp-content/uploads/2019/10/Justicia-1-1.jpg" alt="" class="home__info-img">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="justicia">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Principio de Justicia</h2>
                        <p class="about__description">Justicia es todo aquello que esta
                            de acuerdo con con el derecho, la razón y la equidad. La virtud que inclina
                            a dar, a cada uno, lo que corresponde o pertenece.<br>
                            "Ganamos justicia más rápidamente si hacemos justicia a la parte contraria"<br>
                                                            Mahatma Gandhi
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Mahatma-Gandhi%2C_studio%2C_1931.jpg/220px-Mahatma-Gandhi%2C_studio%2C_1931.jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://www.cuerpomente.com/medio/2021/09/28/frases-injusticia10_3102f5fb_1200x1200.jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== DISCOVER ====================-->

            <section class="about section" id="impar">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5831696/pexels-photo-5831696.jpeg?cs=srgb&dl=pexels-alphatradezone-5831696.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4630679/pexels-photo-4630679.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Imparcialidad Y<br> Equidad</h2>
                        <p class="about__description">"El labriego puede comer del huerto qe cultiva;<br>
                            debe recompersarse a todo el que protege los intereses ajenos"<br>
                                    Proverbios 27:18 <br>
                                    "Si la justica existe, tiene que ser para todos,
                                    nadie puede quedar excluido, de lo contrario ya no sería  justica"<br>
                                    Paul Auster
                        </p>
                    </div>
                </div>
            </section>

            <!--==================== EXPERIENCE ====================-->
            <section class="experience section">
                <div><h2 class="section__title">Ley de retorno </h2>
                    <div class="about__container container grid">
                        <div class="about__data">
                            <p class="about__description">todo lo que enviamos nos viene de vuelta, pensamientos y acciones de bien,<br> 
                                lo recibiremos, y lo mismo sucede con el mal... <br><br>
                                "Dios no puede castigar siendo justo, y si no es justo no es Dios<br>
                                y dejando de ser Dios no hay para que temerlo ni obedecerle"<br>
                                San Pablo
                            </p>
                        </div>
                    </div>
                <div class="about__img">
                    <div class="about__img-overlay">
                        <img src="https://frasesdelavida.com/wp-content/uploads/2019/08/frases-de-karma-5.png" alt="" class="about__img-one">
                    </div>

                    <div class="about__img-overlay">
                        <img src="https://images.pexels.com/photos/933624/pexels-photo-933624.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="about__img-two">
                    </div>
                </div>
                </div>   
            </section>

            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Video JUSTICIA</h2>
                <div class="video__container container">
                    <div class="video__content">>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/dBbOiTNoLU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!--==================== PLACES ====================-->
            <section class="about section" id="verdad">
                
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title">Verdad y Respeto</h2>
                        <p class="about__description">La verdad indubitable, clara y sin tergiversación.<br>
                            El respeto Miramiento excesivo hacia la opinión ajena, antepuesto a los dictados de la moral estricta.<br><br>  
                            "El rey se regocija en los siervos que saben lo que hacen,
                            pero se enoja con los que causa dificultades"<br>
                                                         Proverbios 14:35<br> 
                        </p>
                    </div>
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://media.elentrerios.com/fotos-v2/2019/07/28/l_1564310512.jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://pbs.twimg.com/media/DY2E2YZVwAASaha.jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="#" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="./critica.html" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="./integridad.html" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>              
         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>