<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
        <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Motivar-Personas</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#principio" class="nav__link">Principio</a>
                        </li>
                        <li class="nav__item">
                            <a href="#proposito" class="nav__link">Propósitos</a>
                        </li>
                        <li class="nav__item">
                            <a href="#visionmision" class="nav__link">Vision y Mision</a>
                        </li>
                        <li class="nav__item">
                            <a href="#motivacion" class="nav__link">Motivaciones</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Modo Oscuro</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="principio">
                <img src="https://images.pexels.com/photos/52910/pexels-photo-52910.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">"El trabajo tenaz da prosperidad;<br>
                            La especulación apresurada empobrece...<br>
                            Sabiduría 7.18<br>
                        </span>
                        <h1 class="home__data-title">MOTIVAR A LAS<br> 
                            PERSONAS</h1>
                    <div class="home__info">

                        <div class="home__info-overlay">
                            <img src="https://images.pexels.com/photos/694587/pexels-photo-694587.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="" class="home__info-img">
                        </div>
                    </div>
                </div>
            </section>

            <!--==================== ABOUT ====================-->
            <section class="about section" id="proposito">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Propósitos</h2>
                            <p class="about__description">Adecuado u oportuno para lo que se desea<br> 
                            o para el fin a que se destina.<br>
                            "El espíritu a a la verdad está dispuesto, pero la carne es débil"<br>
                                                            Marcos 14:38 
                            </p>
                    </div>
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://frasesbuenas.net/fotos/52/52569c045dc348f12dfc4c85000ad832.jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5458491/pexels-photo-5458491.jpeg?cs=srgb&dl=pexels-clement-eastwood-5458491.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== DISCOVER ====================-->
            <section class="discover section" id="visionmision">
                <div class="discover__container container swiper-container">
                    <h2 class="section__title">Mision y Vision</h2>    
                    <p class="about__description"> "Jesús les llamó, diciendo:¡Vengan y siganme que voy a convertirlos en pescadores de hombres!"<br>
                        Marcos 1:17<br>
                        "El castigo que duele echa el mal de corazón"<br>
                            Proverbios20:30 
                    </p>
                
                    <div class="swiper-wrapper">
                        <!--==================== DISCOVER 1 ====================-->
                        <div class="discover__card swiper-slide">
                            <img src="https://images.pexels.com/photos/6476808/pexels-photo-6476808.jpeg?cs=srgb&dl=pexels-mikael-blomkvist-6476808.jpg&fm=jpg" alt="" class="discover__img">
                            <div class="discover__data">
                            </div>
                            <p class="about__description">Vision es el punto de vista particular sobre un tema.
                            </p>
                        </div>

                        <!--==================== DISCOVER 2 ====================-->
                        <div class="discover__card swiper-slide">
                            <img src="https://images.pexels.com/photos/1181263/pexels-photo-1181263.jpeg?cs=srgb&dl=pexels-christina-morillo-1181263.jpg&fm=jpg" alt="" class="discover__img">
                            <div class="discover__data">
                            </div>
                            <p class="about__description">Mision es el poder que una persona posee para desempeñar algun cometido. 
                                
                            </p>   
                        </div>
                        </div>
                    </div>
                </div> 
            </section>

            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Motivar a las personas</h2>

                <div class="video__container container">

                    <div class="video__content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/TQOeEy03yq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!--==================== PLACES ====================-->
            <section class="place section" id="motivacion">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Motivaciones</h2>
                        <p class="about__description">Motivación es la razon o motivo para que uno actúe de una manera determinada. 
                            "El castigo que duele echa el mal del corazón"<br>
                    Proverbios 20:30
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4417069/pexels-photo-4417069.jpeg?cs=srgb&dl=pexels-dylan-4417069.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://scontent-gua1-1.xx.fbcdn.net/v/t1.6435-9/88302189_2839775589446753_3831624454580994048_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=973b4a&_nc_ohc=atlg5z9OpXMAX8qS2hw&_nc_ht=scontent-gua1-1.xx&oh=baa14f23d6c40d15ac8698886e16ebd4&oe=619EDAAF" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
                

                     
        </main>

        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="./motivarpersonas.html" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./justicia.html" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./confiarendios.html" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="./integridad.html" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="./empoderamiento.html" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>

         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>