<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/png">

        <!--=============== REMIXICONS ===============-->
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        
        <!--=============== SWIPER CSS ===============-->
         <link rel="stylesheet" href="../assets/css/swiper-bundle.min.css"> 

        <!--=============== CSS ===============-->
        <link rel="stylesheet" href="../assets/css/styles.css">

        <title>Principio de comunicación</title>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="../index.html" class="nav__logo">Inicio</a>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item">
                            <a href="#perdon" class="nav__link">Perdon</a>
                        </li>
                        <li class="nav__item">
                            <a href="#compensacion" class="nav__link">Compensación</a>
                        </li>
                        <li class="nav__item">
                            <a href="#restauracion" class="nav__link">Restauración</a>
                        </li>
                        <li class="nav__item">
                            <a href="#sanidad" class="nav__link">Sanidad</a>
                        </li>
                    </ul>

                    <div class="nav__dark">
                        <!-- Theme change button -->
                        <span class="change-theme-name">Modo Oscuro</span>
                        <i class="ri-moon-line change-theme" id="theme-button"></i>
                    </div>

                    <i class="ri-close-line nav__close" id="nav-close"></i>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class="ri-function-line"></i>
                </div>
            </nav>
        </header>

        <main class="main">
            <!--==================== HOME ====================-->
            <section class="home" id="home">
                <img src="https://images.pexels.com/photos/5875069/pexels-photo-5875069.jpeg?cs=srgb&dl=pexels-rodnae-productions-5875069.jpg&fm=jpg" alt="" class="home__img">

                <div class="home__container container grid">
                    <div class="home__data">
                        <span class="home__data-subtitle">Ética</span>
                        <h1 class="home__data-title">Principio <br> Del <b>Perdón</h1>
                    </div>
                </div>
            </section>

            <!--==================== PERDON====================-->
            <section class="about section" id="perdon">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">EL perdón <br> Definicion</h2>
                        <p class="about__description">Se origina de los vocablos latinos "per" que significa paso o dejar pensar, y "don"
                            que quiere decir regalo. implica dejar delado una ofensa, renunciando al odio, al rencor, a las deseos de venganza. Es 
                            un regalo que libera en doble vía.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Perdonar es el valor de los valientes; solamente aquel que es bastante fuerte para 
                            perdonar una ofensa, sabe amar."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"Sean bondadosos entre ustedes, compansivos,perdonándose las faltas que unos contra otros
                            puedan cometer, de la misma manera que Dios nos perdonó en Cristo."<br>
                            Efesios 4:32
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5875449/pexels-photo-5875449.jpeg?cs=srgb&dl=pexels-rodnae-productions-5875449.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5875108/pexels-photo-5875108.jpeg?cs=srgb&dl=pexels-rodnae-productions-5875108.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            
            <!--==================== VIDEO ====================-->
            <section class="video section">
                <h2 class="section__title">Video Principio del perdón</h2>

                <div class="video__container container">
                    <div class="video__content">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/EhBPMGc1J1Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                    </div>
                </div>
            </section>

            <!--==================== COMPENSACION ====================-->
            <section class="about section" id="compensacion">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4423751/pexels-photo-4423751.jpeg?cs=srgb&dl=pexels-maksim-goncharenok-4423751.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/4386433/pexels-photo-4386433.jpeg?cs=srgb&dl=pexels-karolina-grabowska-4386433.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Compensacion<br> Definicion</h2>
                        <p class="about__description">Significa pagar por algo o perdonar.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"El perdón es un don de alto valor, aunque no nos cuesta nada."
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"La dignidad se repara con misericordia, y verdad; el mal se evita mediante la reverencia a Dios."<br>
                            proverbios 16:6
                        </p>
                    </div> 
                </div>
            </section>
            <!--==================== RESTAURACION====================-->
            <section class="about section" id="restauracion">
                <div class="about__container container grid">
                    <div class="about__data">
                        <h2 class="section__title about__title">Restauracion<br> Definicion</h2>
                        <p class="about__description">Reparar, renovar o volver a poner algo en el estado o estimación que antes tenía.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"Vencer y perdonar, es vencer dos veces."<br>
                            "Perdonar solo se aprende en la vida cuando hemos necesitado que nos perdonen con frecuencia."
                        </p>
                        <h2 class="section__title about__title">Cita biblico</h2>
                        <p class="about__description">"!Padre, perdónalos¡- Exclamó Jesús ¡No saben lo que hacen!"<br>
                            lucar 23:34
                        </p>
                    </div>

                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5095271/pexels-photo-5095271.jpeg?cs=srgb&dl=pexels-cottonbro-5095271.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/5095272/pexels-photo-5095272.jpeg?cs=srgb&dl=pexels-cottonbro-5095272.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                </div>
            </section>
            <!--==================== SANIDAD====================-->
            <section class="about section" id="sanidad">
                <div class="about__container container grid">
                    <div class="about__img">
                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/9936149/pexels-photo-9936149.jpeg?cs=srgb&dl=pexels-timo-9936149.jpg&fm=jpg" alt="" class="about__img-one">
                        </div>

                        <div class="about__img-overlay">
                            <img src="https://images.pexels.com/photos/6998565/pexels-photo-6998565.jpeg?cs=srgb&dl=pexels-arina-krasnikova-6998565.jpg&fm=jpg" alt="" class="about__img-two">
                        </div>
                    </div>
                    <div class="about__data">
                        <h2 class="section__title about__title">Sanidad<br> Definicion</h2>
                        <p class="about__description">Poder, valimiento, autoridad de alguien para con otra u otras personas o para intervenir en un negocio.
                        </p>
                        <h2 class="section__title about__title">Reflexiones</h2>
                        <p class="about__description">"A medida que perdnamos, en el sentido más profundo del termino, nos sanamos un poco más y nos deshacemos de la 
                            ira y el rencor que nos atormentan."<br>
                            "Es un hecho que le tiempo no sena todas las heridas, hay necesidad de tomar acción: !Perdona!"
                        </p>
                        <h2 class="section__title about__title">Texto biblico</h2>
                        <p class="about__description">"¿Hasta cuándo me tendrás en el olvido, Señor?¿Enternamente?¿Hasta cuándo vas a estar apartando de mi la vista cuando padezca necesidad?"<br>
                            salmo 13:1
                        </p>
                    </div>
                </div>
            </section>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <div class="footer__container container grid">
                <div class="footer__content grid">
                    <div class="footer__data">
                        <h3 class="footer__title">Blog - Principios Éticos</h3>
                        <p class="footer__description">Autores: <br> 
                            Elias Julajuj  <br>
                            Gilda Chiroy   <br>
                            Kevin Pilo     <br>
                            Walfred Cuxulic<br> 
                        </p>
                        
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="./comunicacion.html" class="footer__link">Comunicación</a>
                            </li>
                            <li class="footer__item">
                                <a href="./comprenderpersonas.html" class="footer__link">Comprender a las personas</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Motivar a las Personas</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="" class="footer__link">La Justicia</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">La Crítica</a>
                            </li>
                            <li class="footer__item">
                                <a href="./perdon.html" class="footer__link">El Perdón</a>
                            </li>
                        </ul>
                    </div>
    
                    <div class="footer__data">
                        <h3 class="footer__subtitle">Principios</h3>
                        <ul>
                            <li class="footer__item">
                                <a href="" class="footer__link">Confiar en Dios</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Integridad</a>
                            </li>
                            <li class="footer__item">
                                <a href="" class="footer__link">Empoderamiento</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__rights">
                    <div class="footer__terms">
                        <a href="#" class="footer__terms-link">2021-Politicas de privacidad</a>
                    </div>
                </div>
            </div>
        </footer>

         <!--========== SCROLL UP ==========-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class="ri-arrow-up-line scrollup__icon"></i>
        </a>

        <!--=============== SCROLL REVEAL===============-->
        <script src="../assets/js/scrollreveal.min.js"></script>
        
        <!--=============== SWIPER JS ===============-->
        <script src="../assets/js/swiper-bundle.min.js"></script>

        <!--=============== MAIN JS ===============-->
        <script src="../assets/js/main.js"></script>
    </body>
</html>